.about {
  height: auto;
  width: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.about-container {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

