@media all and (min-width: 480px) {
    .account-hero-section {
        padding: 240px 0;
    }

    .account-hero-section .emailLabel {
        color: black;
        padding-right: 36px;
    }

    .account-hero-section .emailGroup {
        margin-bottom: 10px;
    }

    .account-hero-section .passwordLabel {
        color: black;
        padding-right: 10px;
    }

    .account-hero-section .myButton {
        color: white;
        background-color: blue;
        padding-right: 20px;
        margin-top: 20px;
        margin-left: 50px;
    }

    .account-hero-section .myregister {
        color: white;
        background-color: blue;
        width: auto;
    }

    .account-hero-section form {
        margin: 0 auto;
        max-width: 320px;
    }

    .login-button {
        background-color: red !important;
        border: #fff !important;
    }

    .register-button {
        background-color: red !important;
        border: #fff !important;
    }
}