  .myCard {
    position: relative;
    display: block;
    padding-top: 10px;
    padding-left: 1100px;
    width: 1400px;
    height: 0px;
  }
  
  .cardTitle {
    padding-top: 15px;
    font-size: 24px;
    padding-bottom: 15px;
  }
  
  .cardHead {
    background-color: rgba(255, 255, 255, 0.404);
    font-size: 17px;
    padding-left: 15px;
    padding-top: 10px;
    height: 40px;
  }

  .cardBody {
      background-color: #fff;
      box-shadow: 5px 10px #888888;
      height: 150px;
      padding-left: 15px;
  }