.react-flow {
    /* display: flex; */
    position: relative;
    width: 65%;
}

.react-flow_pane {

    /* display: flex; */
}

.react-flow__node:hover {

    background-color: rgb(98, 0, 255);
    font-size: small;
    color: white;
    border: solid black;
    transition: all 0.3s ease-out;  
}

.react-flow__node{

    border-color: #ff0072;
}

.react-flow__edge-path {

    stroke: green;
}

.react-flow__handle {
    
    background: #ff0072;
    border-color: yellow;
    width: 8px;
    height: 8px;
}

.react-flow__node.selected {

    background-color: lightblue;
    padding: 10px;
    border-radius: 3px;
    width: 150px;
    font-size: 12px;
    color: green;
    text-align: center;
    border-color: #0041d0;
    border-style: solid;
}


.roadMapCard {

    position: relative;
    left: 68%;
    bottom: 85%;
    z-index: 4;
    
    
}

.myCardRoadMap {
    position: absolute;
    /* display: flex; */
    height: 500px;
    color: white;
    
}

.cardRoadBody {
    background-color: #323c4e;
    box-shadow: 14px 13px 15px #525252;
    height: 400px;
    font-size: 30px;
    overflow: hidden;
}

.cardRoadTitle {
    background-color: #28303e;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 30px;
  }

.cardRoadHead {
    background-color: #46556d;
    font-size: 30px;
    padding-left: 15px;
    padding-top: 0px;
    height: 50px;
    text-align: center;
}