.courseExplorer {
    height: auto;
    display: flex;
    flex-direction: row;
    position: static;
    background-color: white;
}

.courseHeaders {
    width: 50%;
    background-color: white;
    position: relative;
}

.courseHeaders h1 {
    align-self: flex-start;
    color: #000;
    font-size: 28px;
    position: relative;
    left: 10px;
}

.roadMap {
    position: static;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.roadMap h2 {
    position: relative;
    left: 12px;
    font-size: 20px;
    width: 75%;
}

.roadMapLink {
    position: relative;
    left: 30px;
    width: 75%;
}

.headerText {
    display: flex;
    flex-wrap: wrap;
}

.headerText h2 {
    position: relative;
    left: 12px;
    font-size: 20px;
    width: 75%;
}

.headerText h3 {
    position: relative;
    left: 30px;
    font-size: 15px;
    width: 75%;
}

.lowerDivision {
    position: static;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
}

.lowerDivision h2 {
    position: relative;
    left: 12px;
    font-size: 20px;
}

.lowerDivisionButtonsRowOne {
    display: flex;
    position: relative;
    left: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.upperDivision {
    position: static;
    display: flex;
    flex-direction: column;
    height: auto;
}

.upperDivision h2 {
    position: relative;
    left: 12px;
    font-size: 20px;
}

.upperDivisionButtonsRowOne {
    display: flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    left: 30px;
    justify-content: left;
}

.elective {
    position: static;
    display: flex;
    flex-direction: column;
    height: auto;
    flex-wrap: wrap;
}

.elective h2 {
    font-size: 20px;
    position: relative;
    left: 12px;
}

.electiveOne {
    font-size: 15px;
    position: relative;
    left: 12px;
}

.groupOne {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 30px;
    flex-wrap: wrap;
}

.electiveTwo {
    font-size: 15px;
    position: relative;
    left: 12px;
}

.groupTwo {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 30px;
    flex-wrap: wrap;
}

.electiveThree {
    font-size: 15px;
    position: relative;
    left: 12px;
}

.bothGroups {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 30px;
    flex-wrap: wrap;
}

.course_list_button {
    background: transparent;
    color:  #000;
    padding: 4px 7px;
    font-size: 14px;
    border: 3px solid #ecaa00;
    transition: all 0.3s ease-out;
    border-radius: 98%;
    margin-right: 1.3rem;
    margin-bottom: 10px;
}

.course_list_button:hover {
    background: rgb(98, 0, 255);
    color: white;
    border: 3px solid black;
    transition: all 0.3s ease-out;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.course_list_button.btn.btn-primary:focus {
    border-color: black;
    border-width: 3px;
    background-color: rgb(98, 0, 255);
    color: white;
}

.courseCards {
    display: flex;
    flex-direction: row;
    position: static;
    width: 50%;
    justify-content: center;
    flex-wrap: wrap;
}

.cardOne {
    position: relative;
    height: auto;
    top: 10%;
}

.cardTwo {
    position: relative;
    top: 10%
}

.myCard {
    position: relative;
    width: 80%;
    display: block;
    text-decoration: none;
    pointer-events: none;
    height: auto;
    left: 10%;
}

.cardTitle {
    background-color: #28303e;
    position: relative;
    font-size: 18px;
    margin-top: -10px;
    text-align: center;
    color: white;
}

.cardHead {
    background-color: #46556d;
    font-size: 15px;
    padding-top: 0px;
    height: 20px;
    text-align: center;
    color: white;
}

.cardBody {
    background-color: #323c4e;
    box-shadow: 14px 13px 15px #525252;
    height: auto;
    padding-left: 15px;
    font-size: 14px;
    color: white;
    border-width: 100px;
}