/* .node {
    fill: white;
    outline: auto;
}

.node:hover {
    fill: rgb(3, 226, 255)
}

path {
    stroke: black;
    fill: black;
    stroke-width: 1.5px;
}

.roadMap {
    /* position: relative; */
    width: 100%;
}

h1 {
    text-align: left;
}

/* .cardHead {
    margin-top: 20rem;
} */

/* .cardBody {
    margin-top: 10rem;
} */ */