.faculty {
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.faculty_headers {
    width: auto;
    align-self: center;
}

.table_one {
    align-self: center;
}