.outer-footer {
    text-align: center;
    color: #fff;
    font-size: 18px;
    background-color: #171c24;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-bottom: 2%;
}

.quick-links ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.quick-items {
    list-style: none;
    padding-right: 1%;
    padding-left: 1%;
}

.quick-items a{
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  transition: all .25s;
}

.quick-items a:hover{
  color: #ecaa00;
}

.copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.copyright a {
    margin-left: 0.5%;
}