body{
  margin: 0;
  padding: 0;
}

.inner-footer{
  background-color: #171c24;
  margin: 0;
  padding: 0;
  text-align: center;
}

.quick-links{
  display: flex;
  width: 560px;
  height: 70px;
  margin: auto;
}

.quick-links ul{
  display: flex;
}

.quick-items{
  list-style: none;
}

.quick-items a{
  text-decoration: none;
  padding: 20px 30px;
  font-size: 20px;
  color: #fff;
  transition: all .25s;
}

.quick-items a:hover{
  color: #ecaa00;
}

.outer-footer{
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  background-color: #171c24;
}