
.display
{
    background-image: url( ../images/guide1.jpg) ;
    background-repeat: no-repeat;
    min-height: 100v;
    display: flex;
    justify-content: space-around;
}


.sub_list
{
    overflow: auto;
    display: none;


    padding: 0 10px; /* (top/botton ) (left/right*/
    font-family: sans-serif;
    background:antiquewhite ;
}

.button_list
{
    overflow: auto;
    display:inline-block;
    align-content: center;
    width: 15%;
    padding: 10px;
    border:none;
    outline:none;
    cursor:pointer;
    background: #c4c4c4;
    color:#ffffff;
    text-align: center;
    transition: background 0.2s;
}

.button_list::after
{
    content: '\25be';
    float:center;
    transform: scale(1.5);


}

.button_list_active + .sub_list
{
    display: block;
}

.button_list_active
{
    background: #c4c4c4;
}

.button_list_active::after
{
    content: '\25b4';

}

.commentTxt
{
    display: flex;
    font-size:12pt;
     height:150px;
     width:200px;
}

.g_list
{
    background-color: antiquewhite;
    text-align: center;

}


.tutoring{
    overflow:auto ;
    font-style: oblique;
    font-size: 24px ;
    color: rgb(184, 153, 15);
    text-align: center;
    height: 300px;
    width: 300px;
    margin-top: 110px;
    margin-bottom: 110px;
    border: 2px solid black;
    background: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: .75;
}
.student_a{
    overflow:auto;
    font-style: oblique;
    font-size: 24px ;
    color: rgb(184, 153, 15);
    text-align: center;
    height: 300px;
    width: 300px;
    margin-top: 110px;
    margin-bottom: 110px;
    border: 2px solid black;
    background: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: .75;
}

.clubs{
    overflow: auto;
    font-style: oblique;
    font-size: 24px ;
    color: rgb(184, 153, 15);
    text-align: center;
    height: 300px;
    width: 300px;
    margin-top: 110px;
    margin-bottom: 110px;
    border: 2px solid black;
    background: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    opacity: .75;
}

.btng {
    border: 1px solid rgb(18, 63, 10);
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "montserrat";
    cursor: pointer;
    margin: 10px;
   transition: 0.8s;
   position: relative;
   overflow:  hidden;
}

.btn1,.btn2,.btn3
{
  
    color: rgb(18, 63, 105);
}

.btn1:hover,.btn2:hover,.btn3:hover
{
    color: #ffffff;
}

.btng::before
{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background:rgb(18, 63, 10) ;
    z-index: -1;
    transition: 0.8s;
}
.btn1::before,.btn2::before,.btn3::before
{
    top: 0;
    border-radius:  0 0 50% 50%;

}

.btn1:hover::before,.btn2:hover::before,.btn3:hover::before
{
    height: 180%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}