@media screen and (min-width: 320px) {
    .home {
        height: auto;
        width: auto;
        position: static;
        display: flex;
        flex-direction: column;
    }

    .video-container {
        background-color: rgba(0, 0, 0, 0.658);
        position: relative;
        height: 50%;
        text-align: center;
    }

    .video-container video {
        position: relative;
        z-index: -1;
        width: 100% !important;
        height: auto !important;
    }

    .text-container {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        position: absolute;
        color: white;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* code for the 4 boxes that doesn't include the container */
    .list_images {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .academic-link {
        width: 100%;
    }

    .guide-link {
        width: 100%;
    }

    .career-link {
        width: 100%;
    }

    .course-explorer-link {
        width: 100%;
    }

    .dimmer-academics {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.466);
        position: relative;
    }

    .dimmer-academics img {
        position: relative;
        width: 100% !important;
        height: auto !important;
        transition: all 0.2s linear;
        overflow: hidden;
        z-index: -1;
    }

    .academics_text_container {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        color: white;
        font-family: 'Poppins', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s linear;
        z-index: 1;
        border: solid white 10px;
        border-top: royalblue;
        border-left: royalblue;
        border-right: royalblue;
    }

    .dimmer-guides {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: rgba(0, 0, 0, 0.466);
    }

    .dimmer-guides img {
        position: relative;
        width: 100% !important;
        height: auto !important;
        transition: all 0.2s linear;
        overflow: hidden;
        z-index: -1;
    }

    .guides_text_container {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        color: white;
        font-family: 'Poppins', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s linear;
        z-index: 1;
        border: solid white 10px;
        border-top: royalblue;
        border-left: royalblue;
        border-right: royalblue;
    }

    .dimmer-career {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.466);
        position: relative;
    }

    .dimmer-career img {
        position: relative;
        width: 100% !important;
        height: auto !important;
        transition: all 0.2s linear;
        overflow: hidden;
        z-index: -1;
    }

    .career_text_container {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        color: white;
        font-family: 'Poppins', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s linear;
        z-index: 1;
        border: solid white 10px;
        border-top: royalblue;
        border-left: royalblue;
        border-right: royalblue;
    }

    .dimmer-course-explorer {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.466);
        position: relative;
    }

    .dimmer-course-explorer img {
        position: relative;
        width: 100% !important;
        height: auto !important;
        transition: all 0.2s linear;
        overflow: hidden;
        z-index: -1;
    }

    .course_explorer_text_container {
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        color: white;
        font-family: 'Poppins', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s linear;
        z-index: 1;
        border: solid white 10px;
        border-top: royalblue;
        border-left: royalblue;
        border-right: royalblue;
    }

    .list_text_container:hover {
        transform: scale(1.1);
    }
}

@media screen and (min-width: 1000px) {

    .home {
        height: auto;
        width: auto;
        position: static;
        display: flex;
        flex-direction: column;
    }

    .video-container {
        background-color: rgba(0, 0, 0, 0.658);
        position: relative;
        height: auto;
        text-align: center;
    }

    .video-container video {
        position: relative;
        z-index: -1;
        width: 100% !important;
        height: auto !important;
    }

    .text-container {
        font-size: 58px;
        position: absolute;
        color: white;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* code for the 4 boxes that doesn't include the container */
    .list_images {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .academic-link {
        width: 50%;
    }

    .guide-link {
        width: 50%;
    }

    .career-link {
        width: 50%;
    }

    .course-explorer-link {
        width: 50%;
    }

    .dimmer-academics {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.466);
        position: relative;
    }

    .dimmer-academics img {
        position: relative;
        width: 100% !important;
        height: 120% !important;
        transition: all 0.2s linear;
        overflow: hidden;
        z-index: -1;
    }

    .academics_text_container {
        font-size: 58px;
        color: white;
        font-family: 'Poppins', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s linear;
        z-index: 1;
        border: solid white 10px;
        border-top: royalblue;
        border-left: royalblue;
        border-right: royalblue;
    }

    .dimmer-guides {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: rgba(0, 0, 0, 0.466);
    }

    .dimmer-guides img {
        position: relative;
        width: 100% !important;
        height: auto !important;
        transition: all 0.2s linear;
        overflow: hidden;
        z-index: -1;
    }

    .guides_text_container {
        font-size: 58px;
        color: white;
        font-family: 'Poppins', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s linear;
        z-index: 1;
        border: solid white 10px;
        border-top: royalblue;
        border-left: royalblue;
        border-right: royalblue;
    }

    .dimmer-career {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.466);
        position: relative;
    }

    .dimmer-career img {
        position: relative;
        width: 100% !important;
        height: auto !important;
        transition: all 0.2s linear;
        overflow: hidden;
        z-index: -1;
    }

    .career_text_container {
        font-size: 58px;
        color: white;
        font-family: 'Poppins', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s linear;
        z-index: 1;
        border: solid white 10px;
        border-top: royalblue;
        border-left: royalblue;
        border-right: royalblue;
    }

    .dimmer-course-explorer {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.466);
        position: relative;
    }

    .dimmer-course-explorer img {
        position: relative;
        width: 100% !important;
        height: auto !important;
        transition: all 0.2s linear;
        overflow: hidden;
        z-index: -1;
    }

    .course_explorer_text_container {
        font-size: 58px;
        color: white;
        font-family: 'Poppins', sans-serif;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.2s linear;
        z-index: 1;
        border: solid white 10px;
        border-top: royalblue;
        border-left: royalblue;
        border-right: royalblue;
        text-align: center;
    }

    .list_text_container:hover {
        transform: scale(1.1);
    }
}
