.ides_container {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  

  .h2
  {
      text-align: center;
  }

 .vs_pic
{ 
    height: 5vh;
    background-image: url( ../images/visualstudio.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
   
    

}

.eclipse
{
    height: 15vh;
    background-image: url( ../images/eclipse.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
}

.vs_code
{
    height: 15vh;
    background-image: url( ../images/vscode.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
}

.python
{
    height: 15vh;
    background-image: url( ../images/python.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
}

.replit
{
    height: 15vh;
    background-image: url( ../images/replit.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
}

.virtualb
{
    height: 15vh;
    background-image: url( ../images/virtualbox.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
}

.online
{
    height: 15vh;
    background-image: url( ../images/onlinegdb.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-around;
}

.heading
{
    text-align: center;
    color: #137483;
    margin-bottom: 100px ;
}

.row
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap; 
}

.container
{
    width: 90%;
    margin:50px auto;
}

.ide-card
 {
     width: 25%;
     background: #c0bfbf;
     border: 2px solid #e9bb3e;
     margin-bottom: 50px;
     margin-left: 5px;
     margin-right: 5px;

   
}


.card:hover
{
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgb(8, 144, 255);
}



.card_body
{
    padding: 30px 20px ;
    text-align: center;
    font-size: 18px;

}

.card_header
{
    text-align: center;
    padding: 50px 10px ;
    color: #137483;
}

@media screen and (max-width:1000px)
{
    .card
    {
        width: 40%;

    }
}

@media screen and (max-width:620px)
{
    .container
    {
        width: 100%;
    }

    .card
    {
        width: 80%;
        
    }
}


.card1
{
    width: 20%;
    background: #c0bfbf;
    border:4px solid #e9bb3e;
    margin-bottom: 50px ;
    
}
