
.navbar-container {
  background-color: #ecaa00;
  height: 55px;
  width: auto;
}

.navbar-items {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.navbar-link-one {
  position: absolute;
  top: 25%;
  left: 3%;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #000;
}

.navbar-links:hover {
  color: #000;
  transition: all 0.3s ease-out;
}

.navbar-items > input {
  position: absolute;
  width: 25%;
  top: 25%;
  left: 9%;
}

.navbar-csulb-link {
  position: absolute;
  top: 15%;
  left: 88%;
}

Button.csulb-button {
  background-color: transparent;
  color: #000;
}

.csulb-button:hover {
  border: #000;
  background: #000;
  color:  #ecaa00;
  transition: all 0.3s ease-out;
}

.csulb-button.btn.btn-primary:focus {
  border: #000;
  background-color: #000;
  color: #ecaa00;
}