.navbar-container {
  background-color: #ecaa00;
  height: 55px;
  width: auto;
}

.navbar-items {
  height: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
}

.navbar-links {
  position: absolute;
  top: 25%;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  color: #000;
}

.navbar-links:hover {
  color: #000;
  transition: all 0.3s ease-out;
}

.navbar-items > input {
  position: absolute;
  width: 25%;
  top: 25%;
  left: 9%;
}

.navbar-csulb-link {
  position: absolute;
  top: 15%;
  left: 88%;
}

Button.csulb-button {
  background-color: transparent;
  color: #000;
}

.csulb-button:hover {
  border: #000;
  background: #000;
  color:  #ecaa00;
  transition: all 0.3s ease-out;
}

/*@media screen and (max-width: 1140px) {
  .NavbarItems {
    position: relative;
  }

  .nav-search {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 16vh;
    position: absolute;
    top: 70px;
    left: -100%;
    opacity: 1;
    transition: all 1.5s ease;
  }

  .nav-menu.active {
    background: #000;
    left: 0;
    opacity: 1;
    transition: all 1.5s ease;
    z-index: 1;
  }

  .nav-logo-links {
    display: none;
  }

  .nav-item {
    margin-bottom: 23px;
  }

  .nav-links {
    color: #000;
    column-span: 10px;
    text-align: center;
    padding: 1rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #000;
    color: #fff;
    border-radius: 0;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.1rem;
    cursor: pointer;
  }

  .fa-times {
    color: #000;
  }

  .fa-bars {
    color: #000;
  }
}*/