.resumeContainer {
    height: flex;
    width: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.navbar-container {
    justify-content: left;
}

.nav {
    height: flex;
    width: auto;
    font-size: small;
    justify-content: column;
    position: sticky;
}

.Article {
    width: 50%;
    
}

.resumeHeaders h1 {
    margin-top: 15px;
    color: #000;
    text-align: left;
    font-size: 45px;
    padding-bottom: 10px;
}

.resumeHeaders h2 {
    padding-top: 15px;
    font-size: 35px;
    font-weight:normal;
}

.resumeHeaders h3 {
    padding-top: 15px;
    font-size: 20px;
}

.resumeHeaders li {
    padding-top: 15px;
    font-size: 20px;
    line-height: .5;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: white;
}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}