.sitemap {
    background-color: white;
    height: 100vh;
    width: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
  
.sitemap-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-indent: 5%;
}

.sitemap-calendar-link{
    text-indent: 5%;
    flex-direction: column;
}
.sitemap-resume-link{
    text-indent: 7%;
}

.sitemap-success-link{
    text-indent: 7%;
}

.sitemap-calendar-link{
    text-indent: 7%;
}

.sitemap-roadmap-link{
    text-indent: 7%;
}

.sitemap-formotivation-link{
    text-indent: 7%;
}

.sitemap-recomendedides-link{
    text-indent: 7%;
}

.sitemap-programmingguides-link{
    text-indent: 7%;
}

.sitemap-possibleinterviewquestions-link{
    text-indent: 7%;
}